<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>This is a Website</title>
</head>
<body>
    <div>
        {{> header}}
        <p>{{screamIt welcomeMessage}}</p>
    </div>
    {{> footer}}
</body>
</html>